h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
}

.text {
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}

.setting {
    height: 400px;
    width: 300px;
}

div {
    margin-top: 20px;
}

body {
    text-align: center;
    background-color: darksalmon;
}
